[Unit]
Description=Robot Vision
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/josh/vision/main.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target